asgiref==3.2.5
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
coverage==5.0.4
Django==3.0.14
django-debug-toolbar==2.2
django-debug-toolbar-request-history==0.1.1
djangorestframework==3.11.0
gprof2dot==2019.11.30
idna==2.9
Jinja2==2.11.1
MarkupSafe==1.1.1
pycodestyle==2.5.0
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
